html {
    font-size: 62.5%; 
    @include respond(tab-land) {  // width < 1200px?
        font-size: 72.5%;   //1rem = 9px, 9/16 = 56%
    };
    
    @include respond(tab-port) { // width < 900px?
        font-size: 62.5%;    //1rem = 8px, 8/16 = 50%
    };
    


    @include respond(big-desktop) {  // width > 1800px?
        font-size: 75%; // 1rem = 12, 12/16
    };
    
}

body {
    @include respond(tab-port) {
        padding: 0;    
    };
}

textarea,
input {
    font-family: 'Montserrat', 'Syne Mono', 'Courier New', Courier, monospace;
}