body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $color-grey-dark-3;
}


.header-primary {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 200;
}

.heading-secondary {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Syne Mono', monospace;

}

.background-quote {
    font-family: 'Syne Mono', monospace;
    color: $color-blue-light-2;
    font-size: 2rem;
}

