.blogPostDiv {
   font-family: 'Montserrat', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 80%;
   font-size: 1.5rem;
   border-bottom: 1px solid $color-grey-dark;
   margin: 0 auto;

   @include respond(tab-port) { // width < 900px?
      font-size: 1.6rem;    //1rem = 8px, 8/16 = 50%
  };
   
}

.pagination {
   display: flex;
   flex-direction: row;
   padding: 6px;
   margin: 6px;
   width: 80%;
   margin: 0 auto;
}

.pageNumberWrapper {
   border-radius: 25px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   // background-color: $color-grey-light-2;
   text-decoration: none;
   width: 40px;
   height: 30px;
   margin: 5px;
   box-shadow: 1px 1.5px 1px 0px $color-grey-dark;
}

.pageNumber {
   border-radius: 25px;
   margin: 0 auto;
   flex: 1;
   // background-color: $color-grey-light-2;
   text-decoration: none;
   font-size: 2rem;
   text-align: center;
   font-family: 'Syne Mono', monospace;
}