
//COLORS
$color-blue-light:rgb(41, 202, 255); 
$color-blue-light-2:rgb(138, 223, 252); 
$color-blue-dark:rgb(86, 97, 250);

$color-purple-dark: rgb(124, 13, 175); 
$color-purple-light: rgb(212, 133, 248); 

$color-green: #55c57a;
$color-green-light: #c8f1c1;
$color-green-dark: #1ba86d;

$color-orange-light: #faba44;
$color-orange-dark: #e24d27;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-red-light: #f54242;
$color-red-lighter: #f1a0a0;
$color-red-dark: #940707;

$color-yellow-light: rgb(247, 224, 96); 
$color-yellow-dark: rgb(212, 164, 30); 


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #555;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;