@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.header {
    /* background-color: #28b485; */
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    background-image: linear-gradient(
        to right bottom, 
        rgba(41, 152, 255, .8), 
        rgba(86, 67, 250, .8)),
        url('../images/alexFace.jpeg');
        background-attachment: fixed;
        background-position: 50% 47%;
        background-repeat: no-repeat;
        background-size: cover;
      
    
}


.header__text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    /* opacity: 0; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 2s;
    /* animation-delay: 1s; */
    animation-timing-function: ease-out;
    backface-visibility: hidden;

    
}

.header-primary {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
    /* animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    backface-visibility: hidden; */

}

.header-primary :visited {
    color: white;
}
