@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  80% {
    opacity: .95; }
  100% {
    opacity: 1; } }

@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Montserrat', 'Courier New', Courier, monospace;
  font-weight: 400;
  line-height: 1.5;
  color: #555; }

.header-primary {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 200; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Syne Mono', monospace; }

.background-quote {
  font-family: 'Syne Mono', monospace;
  color: #fff;
  font-size: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 10rem !important; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 72.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0; } }

.header {
  /* background-color: #28b485; */
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(41, 202, 255, 0.8), rgba(212, 133, 248, 0.8)), url("../../src/images/alexFace.jpeg");
  background-attachment: fixed;
  background-position: 50% 47%;
  background-repeat: no-repeat;
  background-size: cover; }
  .header_2 {
    background-image: linear-gradient(to right bottom, rgba(241, 160, 160, 0.8), rgba(148, 7, 7, 0.8)), url("../../src/images/alexFace_4.jpg");
    background-attachment: fixed;
    background-position: 50% 54%;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 56.25em) {
      .header_2 {
        background-position: 20% 47%;
        background-size: cover; } }
  .header_3 {
    background-image: linear-gradient(to right bottom, rgba(163, 229, 151, 0.8), rgba(22, 153, 98, 0.8)), url("../../src/images/alexFace_2.jpg");
    background-attachment: fixed;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 56.25em) {
      .header_3 {
        background-position: 20% 47%;
        background-size: cover; } }
  .header-primary {
    color: white;
    font-size: 8rem;
    width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .header {
      background-position: 20% 47%;
      background-size: cover; } }

.header__text-box {
  display: inline-block;
  position: absolute;
  top: 20%;
  right: 50%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  /* animation-delay: 1s; */
  animation-timing-function: ease-in;
  backface-visibility: hidden;
  width: 50%; }
  @media only screen and (max-width: 56.25em) {
    .header__text-box {
      width: 100%;
      margin: 0 auto;
      top: 30%;
      right: 0px; } }

.header-primary :visited {
  color: white; }

.sectionAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  justify-self: center;
  text-align: center;
  width: 80%;
  height: 60vh;
  margin: 2rem auto 1rem;
  border-radius: 25px;
  background-color: white; }
  .sectionAbout__heading {
    color: #555; }
  .sectionAbout__text {
    width: 75%;
    margin: 0 auto;
    justify-self: center;
    font-size: 2rem;
    font-weight: 300;
    color: #555; }
  @media only screen and (max-width: 56.25em) {
    .sectionAbout {
      margin: 5rem;
      height: auto; } }

.section_heading {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 2rem; }
  .section_heading__text {
    text-transform: uppercase;
    font-weight: 300;
    width: 100%; }

.sectionWork {
  color: #777; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  margin-bottom: 5rem; }
  .card__side {
    height: 52rem;
    transition: all .6s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #29caff, #7c0daf); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #29caff, #7c0daf); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #29caff, #7c0daf); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #29caff, #7c0daf); }
      .card__side--back-5 {
        background-image: linear-gradient(to right bottom, #29caff, #7c0daf); }
      .card__side--back-6 {
        background-image: linear-gradient(to right bottom, #29caff, #7c0daf); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-position: 50% 47%;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, transparent, transparent), url("../../src/images/jSaffert-sm.jpg"); }
    .card__picture--2 {
      background-image: url("../../src/images/lullify-sm.jpg"); }
    .card__picture--3 {
      background-image: url("../../src/images/covidTracker-1-sm.jpg"); }
    .card__picture--4 {
      background-image: url("../../src/images/star-dogs-sm.jpg"); }
    .card__picture--5 {
      background-image: url("../../src/images/employeeDirectory-sm.jpg"); }
    .card__picture--6 {
      background-image: url("../../src/images/animousity-sm.jpg"); }
  .card__heading {
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 80%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(41, 202, 255, 0.85), rgba(124, 13, 175, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(41, 202, 255, 0.85), rgba(124, 13, 175, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 202, 255, 0.85), rgba(124, 13, 175, 0.85)); }
    .card__heading-span--4 {
      background-image: linear-gradient(to right bottom, rgba(41, 202, 255, 0.85), rgba(124, 13, 175, 0.85)); }
    .card__heading-span--5 {
      background-image: linear-gradient(to right bottom, rgba(41, 202, 255, 0.85), rgba(124, 13, 175, 0.85)); }
    .card__heading-span--6 {
      background-image: linear-gradient(to right bottom, rgba(41, 202, 255, 0.85), rgba(124, 13, 175, 0.85)); }
  .card__details {
    padding: 1.5rem; }
    .card__details ul {
      text-align: center;
      list-style: none;
      width: 50%;
      margin: 0 auto;
      padding-inline-start: 0; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #f7f7f7; }
    .card__details p {
      font-size: 1.7rem;
      font-weight: 200;
      color: #f7f7f7; }
    .card__details a {
      color: white; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__header {
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    margin: 1rem; }
    .card__header-back {
      font-size: 2.5rem;
      color: #f7f7f7; }

@media only screen and (max-width: 56.25em) and (max-width: 56.25em), only screen and (max-width: 56.25em) and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side {
      height: auto;
      position: relative;
      box-shadow: none; }
      .card__side--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%); }
    .card:hover .card__side--front {
      transform: rotateY(0); }
    .card__details {
      padding: 1rem 3rem; }
    .card__cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0);
      width: 100%;
      padding: 7rem .2rem 4rem .2rem; }
    .card__price-box {
      margin-bottom: 3rem; }
    .card__price-value {
      font-size: 3rem; } }

.work-section {
  margin-bottom: 350px;
  height: auto; }
  @media only screen and (max-width: 56.25em) {
    .work-section {
      height: 610rem; } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-align: center;
  padding: .8rem 3.2rem;
  border-radius: 10rem;
  background-color: #f7f7f7;
  color: #555;
  font-size: 2rem;
  width: auto;
  margin: 1rem;
  display: inline-block;
  transition: all .5s;
  animation-fill-mode: backwards;
  margin-top: 1rem; }

.btn:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2rem rgba(85, 85, 85, 0.15); }

.btn:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(85, 85, 85, 0.15); }

.btn__header {
  position: absolute;
  top: 65%;
  right: 15%; }
  @media only screen and (max-width: 56.25em) {
    .btn__header {
      top: 85%; } }

.btn--animated {
  animation: moveInBtn .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-small {
  text-decoration: none;
  text-align: center;
  padding: .8rem 1.2rem;
  border-radius: 10rem;
  background-color: #eee;
  color: #555;
  box-shadow: 1px 1.5px 1px 0px #777;
  font-size: 1rem;
  width: 50px;
  margin: 0;
  display: inline-block;
  transition: all .5s;
  animation-fill-mode: backwards;
  margin-bottom: 1rem; }

.pageBreaker {
  height: 75vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-image: linear-gradient(to right bottom, rgba(41, 202, 255, 0.801), rgba(86, 97, 250, 0.801)), url("../../src/images/patch-1.jpg");
  background-size: cover;
  overflow: hidden;
  background-position: 20% 15%;
  transform: skewY(-7deg);
  margin-top: 10rem;
  margin-bottom: 10rem; }
  .pageBreaker > * {
    transform: skewY(7deg); }

.quote-box {
  position: relative;
  top: 50%;
  left: 13%; }
  @media only screen and (max-width: 56.25em) {
    .quote-box {
      width: 85%; } }

.footer {
  margin-top: 15px;
  height: 45vh;
  clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
  position: relative;
  top: 100%;
  background-image: linear-gradient(to right bottom, rgba(41, 202, 255, 0.8), rgba(86, 97, 250, 0.8)), url("../../src/images/books2.jpg");
  background-attachment: fixed;
  background-position: 50% 7%;
  background-repeat: no-repeat;
  background-size: cover; }
  .footer_2 {
    background-image: linear-gradient(to right bottom, rgba(241, 160, 160, 0.8), rgba(148, 7, 7, 0.8)), url("../../src/images/books2.jpg");
    background-attachment: fixed;
    background-position: 50% 7%;
    background-repeat: no-repeat;
    background-size: cover; }
  .footer_3 {
    background-image: linear-gradient(to right bottom, rgba(163, 229, 151, 0.8), rgba(22, 153, 98, 0.8)), url("../../src/images/books2.jpg");
    background-attachment: fixed;
    background-position: 50% 7%;
    background-repeat: no-repeat;
    background-size: cover; }
  .footer__links-div {
    height: 25px; }
  .footer__contact-info {
    position: absolute;
    height: auto;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 3rem; }

.contact-info {
  height: auto; }

.blogPostDiv {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  font-size: 1.5rem;
  border-bottom: 1px solid #777;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .blogPostDiv {
      font-size: 1.6rem; } }

.pagination {
  display: flex;
  flex-direction: row;
  padding: 6px;
  margin: 6px;
  width: 80%;
  margin: 0 auto; }

.pageNumberWrapper {
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40px;
  height: 30px;
  margin: 5px;
  box-shadow: 1px 1.5px 1px 0px #777; }

.pageNumber {
  border-radius: 25px;
  margin: 0 auto;
  flex: 1;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  font-family: 'Syne Mono', monospace; }

.row {
  max-width: 114rem;
  margin: 2rem auto;
  height: 52rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2* 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3* 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3* 6rem) / 4) + 2 * 6rem); }
