@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  80% {
    opacity: .95; }
  100% {
    opacity: 1; } }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #555; }

.header-primary {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 200; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 10rem !important; }

html {
  font-size: 62.5%; }

.header {
  /* background-color: #28b485; */
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-image: linear-gradient(to right bottom, rgba(41, 202, 255, 0.8), rgba(187, 41, 255, 0.8)), url("../../src/images/alexFace.jpeg");
  background-attachment: fixed;
  background-position: 50% 47%;
  background-repeat: no-repeat;
  background-size: cover; }
  .header-primary {
    color: white;
    font-size: 8rem;
    width: 100%; }

.header__text-box {
  position: absolute;
  top: 30%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
  animation-name: moveInLeft;
  animation-duration: 2s;
  /* animation-delay: 1s; */
  animation-timing-function: ease-in;
  backface-visibility: hidden;
  width: 600px; }

.header-primary :visited {
  color: white; }

.header__logo-box {
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 16%;
  transform: rotate(-15deg);
  animation-name: fadeIn;
  animation-delay: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }

.header__logo {
  height: 70px;
  width: 70px;
  color: white; }

.header__subtext {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2.5rem;
  color: white;
  transform: translateX(-25%);
  margin: 0 0; }

.sectionAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  text-align: center;
  width: 80%;
  margin: 5rem auto 3rem;
  padding: 0 0 3rem;
  border-radius: 5px;
  background-color: #9e9e9e; }
  .sectionAbout__heading {
    color: white; }
  .sectionAbout__text {
    width: 75%;
    margin: 0 auto;
    justify-self: center;
    font-size: 2rem;
    font-weight: 200;
    color: white; }

.section_heading {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 2rem; }
  .section_heading__text {
    text-transform: uppercase;
    font-weight: 300;
    width: 100%; }

.sectionWork {
  color: #777; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .6s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #29caff, #5661fa); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-position: 50% 47%;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, transparent, transparent), url("../../src/images/code.jpg"); }
    .card__picture--2 {
      background-image: url("../../src/images/piano.jpg"); }
    .card__picture--3 {
      background-image: url("../../src/images/books.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(41, 202, 255, 0.85), rgba(86, 97, 250, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: white;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.section-tours {
  height: 100vh;
  margin-bottom: 3rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2* 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3* 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3* 6rem) / 4) + 2 * 6rem); }
