.about {


    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        margin: 0 auto;
    }
    
    &__heading {
        text-align: center;
        
    }
    
    &__text {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    &__text--paragraph {
        width: 75%;
    }
}