.about {
    padding: 5rem 0;

    
    &__text {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    &__text--paragraph {
        width: 75%;
        font-size: 2rem;
    }
}