.btn {
    &,
    &:link, 
    &:visited {
        text-decoration: none;
        text-align: center;

        padding: .8rem 3.2rem;
        border-radius: 10rem;
        background-color: $color-grey-light-1;
        color: $color-grey-dark-3;
        font-size: 2rem;        
        width: auto;
        margin: 1rem;
        display: inline-block;
        transition: all .5s;
        animation-fill-mode: backwards;
        margin-top: 1rem;
    }

    &:hover {
        transform: translateY(-1rem);
        box-shadow: 0 1rem 2rem rgba($color-grey-dark-3, .15);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 .5rem 1rem rgba($color-grey-dark-3, .15);
    }

    &__header {
        position: absolute;
        top: 65%;
        right: 15%;

        @include respond(tab-port) {
            top: 85%;
        }
    }

    &--animated {
        animation: moveInBtn .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &-small {
        text-decoration: none;
        text-align: center;

        padding: .8rem 1.2rem;
        border-radius: 10rem;
        background-color: $color-grey-light-2;
        color: $color-grey-dark-3;
        // box-shadow: 1px 1.5px 1px 0px $color-grey-dark;
        font-size: 1rem;        
        width: 50px;
        margin: 0;
        display: inline-block;
        transition: all .5s;
        animation-fill-mode: backwards;
        // margin-top: .7rem;
        margin-bottom: 1rem;
    }
}