.footer {
    margin-top: 15px;
    height: 45vh;
    clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
    position: relative;
    top: 100%;

    background-image: linear-gradient(
        to right bottom, 
        rgba($color-blue-light, .8), 
        rgba($color-blue-dark, .8)),
        url('../../src/images/books2.jpg');
        background-attachment: fixed;
        background-position: 50% 7%;
        background-repeat: no-repeat;
        background-size: cover;

    &_2 {
        background-image: linear-gradient(
        to right bottom, 
        rgba($color-red-lighter, .8), 
        rgba($color-red-dark, .8)),
        url('../../src/images/books2.jpg');
        background-attachment: fixed;
        background-position: 50% 7%;
        background-repeat: no-repeat;
        background-size: cover;
    }


        &__links-div {
            height: 25px;
        }

        &__contact-info {
            position: absolute;
            height: auto;
            top: 50%;
            width: 100%;
            text-align: center;
            font-size: 3rem;
        }

}

.contact-info {
    height: auto;

}