.footer {
    margin-top: 15px;
    height: 45vh;
    clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
    position: relative;
    top: 100%;

    &__flexbox {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 110px;
        flex-direction: row;
        position: absolute;
        bottom: 5%;
    }
    
    &__social-links {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        width: 100%;

    }
    
    &__social-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 65px;
        height: 35px;
        color: white;
    }

    &__copyright {
        color: white;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 5%;
        font-size: 1.7rem;
        font-weight:500;
        font-family: 'Courier New', Courier, monospace
    }

    background-image: linear-gradient(
        to right bottom, 
        rgba($color-blue-light, .8), 
        rgba($color-blue-dark, .8)),
        url('../../src/images/books2.jpg');
        background-attachment: fixed;
        background-position: 50% 7%;
        background-repeat: no-repeat;
        background-size: cover;

    &_2 {
        background-image: linear-gradient(
        to right bottom, 
        rgba($color-grey-light-1, .8), 
        rgba($color-green-darker, .8)),
        url('../../src/images/books2.jpg');
        background-attachment: fixed;
        background-position: 50% 7%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &_3 {
        background-image: linear-gradient(
        to right bottom, 
        rgba($color-green-light, .8), 
        rgba($color-purple-light, .8)),
        url('../../src/images/books2.jpg');
        background-attachment: fixed;
        background-position: 50% 7%;
        background-repeat: no-repeat;
        background-size: cover;
    }


        &__links-div {
            height: 25px;
        }

        &__contact-info {
            position: absolute;
            height: auto;
            top: 50%;
            width: 100%;
            text-align: center;
            font-size: 2rem;
        }

}

.contact-info {
    height: auto;

}

.icon {
    height: 35px;
    width: 35px;
    color: white;
}