

.header {
    /* background-color: #28b485; */
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    display: flex;
    flex-direction: column;
    position: relative;

    background-image: linear-gradient(
        to right bottom, 
        rgba($color-blue-light, .8), 
        rgba($color-purple-light, .8)),
        url('../../src/images/alexFace.jpeg');
        background-attachment: fixed;
        background-position: 50% 47%;
        background-repeat: no-repeat;
        background-size: cover;

        &-primary {
            color: white; 
            font-size: 8rem;
            width: 100%;
        }
    
}


.header__text-box {
    position: absolute;
    top: 20%;
    right: 50%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    /* animation-delay: 1s; */
    animation-timing-function: ease-in;
    backface-visibility: hidden;
    width: 550px;

    @include respond(tab-port) {
        width: 100%;
        margin: 0 auto;
        top: 30%;
        right: 0px;

    }
    
}



.header-primary :visited {
    color: white;
}

