.section_heading {
    display: flex;
    align-items: center;
    text-align: center;    
    width: 100%;
    font-size: 2rem;
    
    
    &__text {
        text-transform: uppercase;
        font-weight: 300;
        width: 100%;

    }
}