.section_heading {
    display: flex;
    align-items: center;
    text-align: center;    
    width: 100%;
    font-size: 2rem;
    height: 60px;
    
    
    &__text {
        text-transform: uppercase;
        font-weight: 300;
        width: 100%;
        // color: white;

        &__white {
            color: white;
            text-transform: uppercase;
            font-weight: 300;
            width: 100%;
        }
    }
    

}