.sectionWork {
    color: $color-grey-dark;
}



.card {

    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    margin-bottom: 5rem;

    &__side {
        height: 52rem;
        transition: all .6s ease-out;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white; 
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-blue-light, $color-purple-dark);
    
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $color-blue-light, $color-purple-dark);
    
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $color-blue-light, $color-purple-dark);
    
            }
            &-4 {
                background-image: linear-gradient(to right bottom, $color-blue-light, $color-purple-dark);
    
            }
            &-5 {
                background-image: linear-gradient(to right bottom, $color-blue-light, $color-purple-dark);
    
            }
            &-6 {
                background-image: linear-gradient(to right bottom, $color-blue-light, $color-purple-dark);
    
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    //FRONT-SIDE STYLING
    &__picture{
        background-size: cover;
        background-position: 50% 47%;
        height: 23rem;  
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    
        &--1 {
            background-image: linear-gradient(to right bottom, transparent, transparent),
             url('../../src/images/jSaffert-sm.jpg');
        }
        &--2 {
            background-image: url('../../src/images/lullify-sm.jpg');
        }
        &--3 {
            background-image: url('../../src/images/covidTracker-1-sm.jpg');
        }
        &--4 {
            background-image: url('../../src/images/star-dogs-sm.jpg');
        }
        &--5 {
            background-image: url('../../src/images/employeeDirectory-sm.jpg');
        }
        &--6 {
            background-image: url('../../src/images/animousity-sm.jpg');
        }
    }


    &__heading {
        font-size: 2.2rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 80%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image:linear-gradient(to right bottom, rgba($color-blue-light, .85), rgba($color-purple-dark, .85))
        }
        &--2 {
            background-image:linear-gradient(to right bottom, rgba($color-blue-light, .85), rgba($color-purple-dark, .85))
        }
        &--3 {
            background-image:linear-gradient(to right bottom, rgba($color-blue-light, .85), rgba($color-purple-dark, .85))
        }
        &--4 {
            background-image:linear-gradient(to right bottom, rgba($color-blue-light, .85), rgba($color-purple-dark, .85))
        }
        &--5 {
            background-image:linear-gradient(to right bottom, rgba($color-blue-light, .85), rgba($color-purple-dark, .85))
        }
        &--6 {
            background-image:linear-gradient(to right bottom, rgba($color-blue-light, .85), rgba($color-purple-dark, .85))
        }

    }

    &__details {
        padding: 1.5rem;

        ul {
            text-align: center;
            list-style: none;
            width: 50%;
            margin: 0 auto;
            padding-inline-start: 0;

            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-1;
                }
            }

        }

        p {
            font-size: 1.7rem;
            font-weight: 200;
            color: $color-grey-light-1;
        }

        a {
            color: white;
        }
    }




    //FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }


    &__header {
        font-size: 2rem;
        font-weight: 300;
        text-decoration: none;
        // text-transform: uppercase;
        text-align: center;
        margin: 1rem;

        &-back {
            font-size: 2.5rem;

            color: $color-grey-light-1;
        }
    }

//FOR MOBILE SCREENS
    @include respond(tab-port) {
        @media only screen and (max-width: 56.25em),
        only screen and (hover: none) {

        height: auto;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;


            &--back {
                transform: rotateY(0); 
                clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
            }
        }


        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        //FRONT SIDE STYLING
        &__cta {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0);
            width: 100%;
            padding: 7rem .2rem 4rem .2rem;
        }

        &__price-box {
            margin-bottom: 3rem; 
        }

        &__price-value {
            font-size: 3rem;
        }
    }
    }
}

.work-section {
    margin-bottom: 350px;
    height: auto;
    

    @include respond(tab-port) {
        height: 600rem;
    }
}

